.button_index{
	margin: 2% 0%;
	border-radius: 5px;
	border: 1px solid #D0D0D0;
	padding: 0 5px;
	height: 30px;
	font-size: 125%; 
	font-weight: 500;
	font-family: monospace;	
	background-color: #E8E8E8;
}
.button_index:hover{background-color: #C0C0C0;}
.comment{
	padding: 1% 2% 0 2%;
	text-align: right;
}

#label_post{
	margin: 0 2%;
	border-bottom: 2px solid #B0C4DE;
	text-align: left;
	font-size: 100%;
	color: #B0C4DE;
}
.comment_but{
	padding: 0 0;
	height: 50px;
}
.message{
	text-align: left;
	font-size: 20px;
	font-family: monospace;
}
.ui form{
	padding: 2% 2%;
}
#msg_title{
	margin: 10px 0;
	border-bottom: 2px solid #6495ed;
	padding: 0 80% 0 2%;
	font-weight: 700;
	font-size: 150%;
	color: #4682b4;
}
#msg_name_time{
	margin: 10px 0;
	border: 0 100px;
	padding: 0 80% 0 2%;
	text-align: right;
}
#msg_content{
	margin: 10px 0;
	border: 0 100px;
	padding: 0 80% 0 2%;
}
.msg_reply{
	margin: 10px 0;
	border: 0 100px;
	padding: 0 80% 0 2%;
}
#reply_title{
	margin: 10px 0;
	border-bottom: 2px solid #add8e6;
	padding: 0 80% 0 2%;
	font-weight: 600;
	font-size: 120%;
	color: #87cefa;
}
#reply_content{
	margin: 10px 0;
	border-bottom: 1px solid #add8e6;
	padding: 0 80% 0 2%;
}